HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

infrastructur-automation/buckets/.terraform.lock.hcl
infrastructur-automation/buckets/.terraform/
infrastructur-automation/buckets/terraform.tfstate
infrastructur-automation/buckets/terraform.tfstate.backup


infrastructur-automation/eks-deployment/.terraform.lock.hcl
infrastructur-automation/eks-deployment/.terraform/
infrastructur-automation/eks-deployment/terraform.tfstate
infrastructur-automation/eks-deployment/terraform.tfstate.backup


infrastructur-automation/security-group/.terraform.lock.hcl
infrastructur-automation/security-group/.terraform/
infrastructur-automation/security-group/terraform.tfstate
infrastructur-automation/security-group/terraform.tfstate.backup

infrastructur-automation/vpc/.terraform.lock.hcl
infrastructur-automation/vpc/.terraform/
infrastructur-automation/vpc/terraform.tfstate
infrastructur-automation/vpc/terraform.tfstate.backup
infrastructur-automation/vpc/ec2-key-pair.pem